%ul.nav.nav-tabs
    %li.active.pull-left
        =link_to "Home", root_path
    %li.clear-left
        =link_to "New Post", new_post_path
    %li.pull-right
        =link_to "Sign Out", destroy_user_session_path, method: :delete, confirmation: "Are you sure"





